﻿
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="fruit-callout-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Filter:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="picked-date-control" class="form-label">Date:</label>
                <input type="date" class="form-control" id="picked-date-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="picked-filter-switch">
                <label class="form-check-label" for="picked-filter-switch">Toggle Date Filter</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top:50px;">
            <h5>Fruits:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="fruit-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Weight</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Picked</th>
                            <th>Seeds</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/fruit-shop/fruit-shop.network.js"></script>
<script src="~/Scripts/fruit-shop/fruit-shop.model.js"></script>
<script src="~/Scripts/fruit-shop/fruit-shop.controller.js"></script>
<script src="~/Scripts/fruit-shop/fruit-shop.view.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        const configuration = {
            baseUrl: baseUrl,
            getFruitsRoute: getFruitsRoute,
            element: {
                fruitTableId: "fruit-table",
                dateFilterId: "picked-date-control",
                filterToggleId: "picked-filter-switch",
                calloutTemplateId: "callout-template",
                calloutContainerId: "fruit-callout-container"

            }
        };
        var fruitShopApplication = new fruitShop.view.main(configuration);
        fruitShopApplication.start();
    });
</script>
