﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/fruit-shop.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/external/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/external/bootstrap.min.js"></script>
    <script src="~/Scripts/external/datatables.min.js"></script>
    <script src="~/Scripts/external/handlebars.min-v4.7.8.js"></script>
    <script src="~/Scripts/external/underscore-umd-min.js"></script>
    <script src="~/Scripts/external/moment-with-locales.js"></script>
    <script id="callout-template" type="text/x-handlebars-template">
        <div class="bs-callout bs-callout-danger">
            <h4>{{header}}</h4>
            <div>{{message}}</div>
        </div>
    </script>
    <script type="text/javascript">
        var baseUrl= "//@((Request.Url.Authority + Request.ApplicationPath).TrimEnd('/'))";
        var getFruitsRoute = "@Url.RouteUrl("DefaultApi", new { httproute = true, controller = "Fruits"})"
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fruit Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
    

</body>
</html>